﻿@model FizzBuzz.Models.FizzBuzzModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 


        Enter Fizz Buzz length:

        @using (Html.BeginForm("Index", "FizzBuzz"))
        {
            @Html.TextBoxFor(model => model.userInput)
            <input type="submit" value="Run Fizz Buzz" />
            @Html.ValidationMessageFor(model => model.userInput)
        }

        <!-- Only run if FizzBuzz values exist-->
        @if (ViewBag.FB != null)
        {
            foreach (var value in ViewBag.FB)
            {
                if(value.ToString() == "fizz")
                {
                    if (DateTime.Now.DayOfWeek == DayOfWeek.Wednesday)
                    {
                        <span style="color:blue">wizz</span><br />
                    }
                    else
                    {
                        <span style="color:blue">fizz</span> <br />
                    }
                }
                else if(value.ToString() == "buzz")
                {
                    if (DateTime.Now.DayOfWeek == DayOfWeek.Wednesday)
                    {
                        <span style="color:green">wuzz</span> <br />
                    }
                    else
                    {
                        <span style="color:green">buzz</span><br />
                    }
                }
                else if (value.ToString() == "fizz buzz")
                {
                    if (DateTime.Now.DayOfWeek == DayOfWeek.Wednesday)
                    {
                        <span style="color:blue">wizz</span>
                        <span style="color:green"> wuzz</span> <br />
                    }
                    else
                    {
                        <span style="color:blue">fizz</span>
                        <span style="color:green"> buzz</span> <br />
                    }
                }
                else
                {
                    @value <br />
                }


            }
        }

    </div>
</body>
</html>
