﻿@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #444444;
}

h1 {
    font-size: 55px;
    color: #5C596D;
}

html, body {
    margin: 0;
    padding: 0;
}

.header{
    float: left;
    padding: 15px;
    padding-left: 25px;
    min-width: 100%;
    margin: 0;
    background-color: #FFD900;
}

.main {
    padding: 30px;
}