﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fizz Buzz</title>
    @Styles.Render("~/Content/fbCSS.css")
</head>
<body>
    <div> 
        <div class="header">
            <h1>Fizz Buzz</h1>
        </div>

        <div class="main">
            @RenderBody()
        </div>
    </div>
</body>
</html>
